@model SiparisApp.Web.Models.BayiListeleEkleDuzenle

@{
    ViewData["Title"] = "BayiEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="col-md-12 text-center">


        <h1>Bayi Ekle</h1>

        
        <hr />
    </div>
<div class="container-fluid">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data" asp-controller="Bayi" asp-action="BayiEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="bayiler.Isim" class="control-label"></label>
                <input asp-for="bayiler.Isim" class="form-control" />
                <span asp-validation-for="bayiler.Isim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bayiler.Telefon" class="control-label"></label>
                <input asp-for="bayiler.Telefon" class="form-control" />
                <span asp-validation-for="bayiler.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bayiler.Fax" class="control-label"></label>
                <input asp-for="bayiler.Fax" class="form-control" />
                <span asp-validation-for="bayiler.Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bayiler.Adres" class="control-label"></label>
                <input asp-for="bayiler.Adres" class="form-control" />
                <span asp-validation-for="bayiler.Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bayiler.Email" class="control-label"></label>
                <input asp-for="bayiler.Email" class="form-control" />
                <span asp-validation-for="bayiler.Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="bayiler.IllerId" class="control-label"></label>
            <input asp-for="IllerId" class="form-control" />
            <span asp-validation-for="IllerId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="bayiler.GosterimSirasi" class="control-label"></label>
                <input asp-for="bayiler.GosterimSirasi" class="form-control" pattern="\d" title="Bu alana sadece sayısal değer girilebilir" required />
                <span asp-validation-for="bayiler.GosterimSirasi" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="bayiler.Aktif" /> @Html.DisplayNameFor(model => model.bayiler.Aktif)
                </label>
            </div>



            <div class="form-group">
                <select name="IlId">
                    @foreach (var item in Model.illers)
                    {
                        <option value="@item.Id">@item.Isim</option>
                    }

                </select>
            </div>
            <br />
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
