  <!--? Categories Area Start -->
<div class="categories-area section-padding40 gray-bg">
    <div class="container">
        
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="http://anadolutopraksanayi.com.tr/img/UrunResim/5e243345-dc56-4a04-a5ed-48275148ff5c_10luk.png" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">10'Luk Tuğla</a></h5>
                        <table class="table table-sm table-striped table-responsive-sm text-lg-left">
                            <tbody>
                                <tr>
                                    <td>Ağırlık(kg) </td>
                                    <td>2</td>

                                </tr>
                                <tr>
                                    <td scope="row">Boyut(cm) </td>
                                    <td>8,5x19x19 </td>

                                </tr>
                                <tr>
                                    <td scope="row">Basınç Dayanımı(N/mm) </td>
                                    <td>2,5</td>

                                </tr>
                                <tr>
                                    <td scope="row">Isı iletkenliği(W/mK) </td>
                                    <td>0,32 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 M² İçin Gereken Tuğla Sayısı (Adet) </td>
                                    <td>25-30 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 Paletteki Tuğla Sayısı (Adet) </td>
                                    <td>504 </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="http://anadolutopraksanayi.com.tr/img/UrunResim/5e243345-dc56-4a04-a5ed-48275148ff5c_10luk.png" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">10'Luk Tuğla</a></h5>
                        <table class="table table-sm table-striped table-responsive-sm text-lg-left">
                            <tbody>
                                <tr>
                                    <td>Ağırlık(kg) </td>
                                    <td>2</td>

                                </tr>
                                <tr>
                                    <td scope="row">Boyut(cm) </td>
                                    <td>8,5x19x19 </td>

                                </tr>
                                <tr>
                                    <td scope="row">Basınç Dayanımı(N/mm) </td>
                                    <td>2,5</td>

                                </tr>
                                <tr>
                                    <td scope="row">Isı iletkenliği(W/mK) </td>
                                    <td>0,32 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 M² İçin Gereken Tuğla Sayısı (Adet) </td>
                                    <td>25-30 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 Paletteki Tuğla Sayısı (Adet) </td>
                                    <td>504 </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="http://anadolutopraksanayi.com.tr/img/UrunResim/5e243345-dc56-4a04-a5ed-48275148ff5c_10luk.png" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">10'Luk Tuğla</a></h5>
                        <table class="table table-sm table-striped table-responsive-sm text-lg-left">
                            <tbody>
                                <tr>
                                    <td>Ağırlık(kg) </td>
                                    <td>2</td>

                                </tr>
                                <tr>
                                    <td scope="row">Boyut(cm) </td>
                                    <td>8,5x19x19 </td>

                                </tr>
                                <tr>
                                    <td scope="row">Basınç Dayanımı(N/mm) </td>
                                    <td>2,5</td>

                                </tr>
                                <tr>
                                    <td scope="row">Isı iletkenliği(W/mK) </td>
                                    <td>0,32 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 M² İçin Gereken Tuğla Sayısı (Adet) </td>
                                    <td>25-30 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 Paletteki Tuğla Sayısı (Adet) </td>
                                    <td>504 </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="http://anadolutopraksanayi.com.tr/img/UrunResim/5e243345-dc56-4a04-a5ed-48275148ff5c_10luk.png" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">10'Luk Tuğla</a></h5>
                        <table class="table table-sm table-striped table-responsive-sm text-lg-left">
                            <tbody>
                                <tr>
                                    <td>Ağırlık(kg) </td>
                                    <td>2</td>

                                </tr>
                                <tr>
                                    <td scope="row">Boyut(cm) </td>
                                    <td>8,5x19x19 </td>

                                </tr>
                                <tr>
                                    <td scope="row">Basınç Dayanımı(N/mm) </td>
                                    <td>2,5</td>

                                </tr>
                                <tr>
                                    <td scope="row">Isı iletkenliği(W/mK) </td>
                                    <td>0,32 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 M² İçin Gereken Tuğla Sayısı (Adet) </td>
                                    <td>25-30 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 Paletteki Tuğla Sayısı (Adet) </td>
                                    <td>504 </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="http://anadolutopraksanayi.com.tr/img/UrunResim/5e243345-dc56-4a04-a5ed-48275148ff5c_10luk.png" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">10'Luk Tuğla</a></h5>
                        <table class="table table-sm table-striped table-responsive-sm text-lg-left">
                            <tbody>
                                <tr>
                                    <td>Ağırlık(kg) </td>
                                    <td>2</td>

                                </tr>
                                <tr>
                                    <td scope="row">Boyut(cm) </td>
                                    <td>8,5x19x19 </td>

                                </tr>
                                <tr>
                                    <td scope="row">Basınç Dayanımı(N/mm) </td>
                                    <td>2,5</td>

                                </tr>
                                <tr>
                                    <td scope="row">Isı iletkenliği(W/mK) </td>
                                    <td>0,32 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 M² İçin Gereken Tuğla Sayısı (Adet) </td>
                                    <td>25-30 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 Paletteki Tuğla Sayısı (Adet) </td>
                                    <td>504 </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="http://anadolutopraksanayi.com.tr/img/UrunResim/5e243345-dc56-4a04-a5ed-48275148ff5c_10luk.png" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">10'Luk Tuğla</a></h5>
                        <table class="table table-sm table-striped table-responsive-sm text-lg-left">
                            <tbody>
                                <tr>
                                    <td>Ağırlık(kg) </td>
                                    <td>2</td>

                                </tr>
                                <tr>
                                    <td scope="row">Boyut(cm) </td>
                                    <td>8,5x19x19 </td>

                                </tr>
                                <tr>
                                    <td scope="row">Basınç Dayanımı(N/mm) </td>
                                    <td>2,5</td>

                                </tr>
                                <tr>
                                    <td scope="row">Isı iletkenliği(W/mK) </td>
                                    <td>0,32 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 M² İçin Gereken Tuğla Sayısı (Adet) </td>
                                    <td>25-30 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 Paletteki Tuğla Sayısı (Adet) </td>
                                    <td>504 </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="http://anadolutopraksanayi.com.tr/img/UrunResim/5e243345-dc56-4a04-a5ed-48275148ff5c_10luk.png" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">10'Luk Tuğla</a></h5>
                        <table class="table table-sm table-striped table-responsive-sm text-lg-left">
                            <tbody>
                                <tr>
                                    <td>Ağırlık(kg) </td>
                                    <td>2</td>

                                </tr>
                                <tr>
                                    <td scope="row">Boyut(cm) </td>
                                    <td>8,5x19x19 </td>

                                </tr>
                                <tr>
                                    <td scope="row">Basınç Dayanımı(N/mm) </td>
                                    <td>2,5</td>

                                </tr>
                                <tr>
                                    <td scope="row">Isı iletkenliği(W/mK) </td>
                                    <td>0,32 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 M² İçin Gereken Tuğla Sayısı (Adet) </td>
                                    <td>25-30 </td>

                                </tr>
                                <tr>
                                    <td scope="row">1 Paletteki Tuğla Sayısı (Adet) </td>
                                    <td>504 </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cat End -->
